h1 {
	font-family: 'Comfortaa'; 
	text-align: center;
	margin: 40px 0 40px;
	color: white;
	font-size: 70px;
}

h2{
	font-size: 30px;
	padding: 15px;
	color: #112C5F;
}

*{
	box-sizing: border-box;
	font-family: 'Sintony';
}

body {
	background-color: #21ba89;
	text-align: center;
}

a {
    background-color: #112C5F;
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 70%;
    outline: none;
}
a:hover {
	opacity: 0.8;
}

.form{
	background: white;
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19,35,47,0.3);
	position: relative;
}

.options{
	position: absolute;
	top: -8px;
	left: 0;
	width: 100%;
}

.tablink {
	display: block;
	border-radius: 0;
	background: rgba(160, 179, 176, 0.25);
	color: #112C5F;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.tablink:hover {
    background-color: #bfbfbf;
}

.container > div:last-child {
  display: none;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
}

button {
    background-color: #112C5F;
    color: white;
    display: block;
    padding: 14px 20px;
    margin: 8px 0 auto;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 70%;
    outline: none;
}

form > button {
	margin: 8px auto;
}

button:hover {
    opacity: 0.8;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin: auto;
    background-color: #112C5F;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
